[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
sqlalchemy = "*"
flask = "*"
seaborn = "*"
python-dotenv = "*"
gunicorn = "*"
plotly = "*"
dash = "*"
dash-bootstrap-components = "*"
tensorflow = "*"
sklearn = "*"
flask-sqlalchemy = "*"
ipykernel = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.8"
